		<div class="game_rule_box" style="display: block;">
			<h1>竞猜详情</h1>
			
			<div class="lottery-record-box">
				<div class="lottery-results-img">
					<img src="img/plum-3.png">
				</div>
				
				<div class="lottery-results-msg">
					<div class="result-box">
						<h3>1112-0437期</h3>
						<h4>开奖结果</h4>
					</div>
					<p class="result-tips">
						恭喜您中奖，<br>
						奖励已派发至账户中
					</p>
				</div>
			</div>
			
			<div class="lottery-record-detail">
				<div class="detail-tit">
					<h2>竞猜明细</h2>
				</div>
				<div class="detail-tips">
					<span class="detail-tips-inner"><i class="bonus">奖金 3.4</i><i class="guess">竞猜金额2</i></span>
				</div>	
			</div>
			
			<table class="poker-detail-table" width="100%">
				<thead>
					<tr>
						<th width="40%">竞猜内容</th>
						<th width="30%">金额</th>
						<th width="30%">奖金</th>
					</tr>
				</thead>
				<tbody>
				  
					<tr>
						<td>小</td>
						<td>2</td>
						<td>
							 
			                    3.4
			                	
						</td>
					</tr>
				 
				</tbody>
			</table>
			<div class="poker-plan-msg">
				<p style="float:right;">
					<span class="plan-item">方案编号：<em class="orange">204798</em></span>
					<span class="plan-item jsCheckNum" data-id="204798" data-time="2016-11-12 16:27:34" style="margin-right:0;">赠券</span>
				</p>
			</div>	
			<div class="lottery-btn">
				<a href="javascript:;" class="btn-lottery">兑换礼品</a>
			    <a href="index.html" class="btn-lottery">继续竞猜</a>
			</div>
		</div>
