		<div class="game_rule_box" style="display: block;">
			<h1>竞猜记录</h1>
			<ul class="record-list">
				<li>
					<a ng-href="#/detail">
						<div class="record-inner">
							<span class="arrow-area"></span>
							<div class="record-msg">
								<p class="date">1112-0574期</p>
								<p class="result yellow">中奖3.4幸运豆</p>
								<p class="msg-bean">投注2幸运豆</p>
							</div>
						</div>
					</a>
				</li>
				
				<li>
					<a ng-href="#/detail">
					<div class="record-inner">
						<span class="arrow-area"></span>
						<div class="record-msg">
							<p class="date">1112-0574期</p>
							<p class="result">未中奖</p>
							<p class="msg-bean">投注2幸运豆</p>
						</div>
					</div>
					</a>
				</li>
				
				<li>
					<a ng-href="#/detail">
					<div class="record-inner">
						<span class="arrow-area"></span>
						<div class="record-msg">
							<p class="date">1112-0574期</p>
							<p class="result">未中奖</p>
							<p class="msg-bean">投注2幸运豆</p>
						</div>
					</div>
					</a>
				</li>
				
				<li>
					<a ng-href="#/detail">
					<div class="record-inner">
						<span class="arrow-area"></span>
						<div class="record-msg">
							<p class="date">1112-0574期</p>
							<p class="result">未中奖</p>
							<p class="msg-bean">投注2幸运豆</p>
						</div>
					</div>
					</a>
				</li>
				
			</ul>
			<div class="lottery-btn">
				<a href="javascript:;" class="btn-lottery">兑换礼品</a>
			    <a href="index.html" class="btn-lottery">继续竞猜</a>
			</div>
		</div>
